# Data Science (Ciencia de Dados)

## Pandas

In [1]:
import pandas as pd

!conda install pandas

csv -> comma separated ...

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/vnikoofard/python_online_2020/master/data/Pacientes_compilados.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 11: invalid continuation byte

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/vnikoofard/python_online_2020/master/data/Pacientes_compilados.csv', encoding = 'latin1')

In [4]:
df.head() #df-> Dataframe

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN

In [6]:
df.tail()

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
19,20,8-abr,NaN,29,F,Novo Surubi,Resende,N,N,N,NaN,S
20,21,14-abr,14-abr,90,F,Jardim Primavera,Resende,N,S,S,18-abr,NaN
21,22,14-abr,16-abr,43,F,Jardim Brasília,Resende,N,NaN,NaN,NaN,NaN
22,23,15-abr,16-abr,34,F,Campos Elíseos,Resende,N,NaN,NaN,NaN,NaN
23,24,8-abr,18-abr,30,F,Novo Surubi,Resende,N,NaN,NaN,NaN,NaN

In [7]:
df.head(10)

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN
5,6,22-mar,26-mar,47,M,Morada da Colina,Resende,N,N,S,NaN,N
6,7,24-mar,30-mar,39,M,Vila Julieta,Resende,N,N,S,20-abr,N
7,8,29-mar,30-mar,34,NaN,Santa Barbara,Quatis,NaN,S,S,NaN,NaN
8,9,30-mar,30-mar,17,M,Morada do Contorno,Resende,N,N,S,NaN,N
9,10,30-mar,7-abr,45,F,Centro,Quatis,N,S,N,NaN,N

In [8]:
df.shape

(24, 12)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   N paciente                  24 non-null     int64
 1   Data de inicio de sintomas  24 non-null     object
 2   Data de confirmacao         15 non-null     object
 3    Idade                      24 non-null     int64
 4    Sexo                       19 non-null     object
 5    Bairro                     24 non-null     object
 6   Cidade                      24 non-null     object
 7   Viagem                      17 non-null     object
 8    Comorbidades               17 non-null     object
 9   Internacao                  17 non-null     object
 10   Morte                      3 non-null      object
 11  Trabalha em Hospital        16 non-null     object
dtypes: int64(2), object(10)
memory usage: 2.4+ KB

In [10]:
df.describe()

       N paciente      Idade
count   24.000000  24.000000
mean    12.500000  44.541667
std      7.071068  19.014821
min      1.000000  17.000000
25%      6.750000  34.000000
50%     12.500000  38.500000
75%     18.250000  45.250000
max     24.000000  93.000000

In [11]:
df

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN
5,6,22-mar,26-mar,47,M,Morada da Colina,Resende,N,N,S,NaN,N
6,7,24-mar,30-mar,39,M,Vila Julieta,Resende,N,N,S,20-abr,N
7,8,29-mar,30-mar,34,NaN,Santa Barbara,Quatis,NaN,S,S,NaN,NaN
8,9,30-mar,30-mar,17,M,Morada do Contorno,Resende,N,N,S,NaN,N
9,10,30-mar,7-abr,45,F,Centro,Quatis,N,S,N,NaN,N
10,11,31-mar,NaN,34,M,Liberdade,Resende,N,N,S,NaN,N
11,12,6-abr,NaN,32,NaN,Vila Odete,Itatiaia,N,N,N,NaN,S
12,13,4-abr,13-abr,93,M,Vila Isabel,Resende,N,S,S,13-abr,N
13,14,31-mar,NaN,44,M,Liberdade,Resende,N,NaN,NaN,NaN,NaN
14,15,-,12-abr,36,M,Centro,Quatis,NaN,N,N,NaN,N
15,16,10-abr,13-abr,36,M,Morada do Castelo,Resende,N,N,N,NaN,S
16,17,14-abr,NaN,44,NaN,Jardim Jalisco,Resende,NaN,NaN,NaN,NaN,S
17,18,15-abr,NaN,46,NaN,Campos Elíseos,Resende,NaN,NaN,NaN,NaN,S
18,19,11-abr,14-abr,85,M,Liberdade,Resende,N,N,S,NaN,NaN
19,20,8-abr,NaN,29,F,Novo Surubi,Resende,N,N,N,NaN,S
20,21,14-abr,14-abr,90,F,Jardim Primavera,Resende,N,S,S,18-abr,NaN
21,22,14-abr,16-abr,43,F,Jardim Brasília,Resende,N,NaN,NaN,NaN,NaN
22,23,15-abr,16-abr,34,F,Campos Elíseos,Resende,N,NaN,NaN,NaN,NaN
23,24,8-abr,18-abr,30,F,Novo Surubi,Resende,N,NaN,NaN,NaN,NaN

In [12]:
df.columns

Index(['N paciente', 'Data de inicio de sintomas', 'Data de confirmacao',
       ' Idade', ' Sexo', ' Bairro', 'Cidade', 'Viagem', ' Comorbidades',
       'Internacao', ' Morte', 'Trabalha em Hospital'],
      dtype='object')

In [13]:
df.set_index('N paciente', inplace=True)

In [15]:
df.head()

,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
N paciente,,,,,,,,,,,
1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN

In [16]:
df.shape

(24, 11)

In [18]:
df[' Bairro']

N paciente
1                  Ipanema
2          Jardim Brasília
3           Jardim Jalisco
4     Retiro da Matiqueira
5           Jardim Jalisco
6         Morada da Colina
7             Vila Julieta
8            Santa Barbara
9       Morada do Contorno
10                  Centro
11               Liberdade
12              Vila Odete
13             Vila Isabel
14               Liberdade
15                  Centro
16       Morada do Castelo
17          Jardim Jalisco
18          Campos Elíseos
19               Liberdade
20             Novo Surubi
21        Jardim Primavera
22         Jardim Brasília
23          Campos Elíseos
24             Novo Surubi
Name:  Bairro, dtype: object

In [21]:
df[' Bairro'].unique()

array(['Ipanema', 'Jardim Brasília', 'Jardim Jalisco',
       'Retiro da Matiqueira', 'Morada da Colina', 'Vila Julieta',
       'Santa Barbara', 'Morada do Contorno', 'Centro', 'Liberdade',
       'Vila Odete', 'Vila Isabel', 'Morada do Castelo', 'Campos Elíseos',
       'Novo Surubi', 'Jardim Primavera'], dtype=object)

In [22]:
len(df[' Bairro'].unique())

16

In [23]:
df[' Idade']

N paciente
1     33
2     45
3     38
4     57
5     38
6     47
7     39
8     34
9     17
10    45
11    34
12    32
13    93
14    44
15    36
16    36
17    44
18    46
19    85
20    29
21    90
22    43
23    34
24    30
Name:  Idade, dtype: int64

In [24]:
df[' Idade'] > 60

N paciente
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21     True
22    False
23    False
24    False
Name:  Idade, dtype: bool

In [25]:
df[df[' Idade'] > 60]

,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
N paciente,,,,,,,,,,,
13,4-abr,13-abr,93,M,Vila Isabel,Resende,N,S,S,13-abr,N
19,11-abr,14-abr,85,M,Liberdade,Resende,N,N,S,NaN,NaN
21,14-abr,14-abr,90,F,Jardim Primavera,Resende,N,S,S,18-abr,NaN

In [28]:
df.columns

Index(['Data de inicio de sintomas', 'Data de confirmacao', ' Idade', ' Sexo',
       ' Bairro', 'Cidade', 'Viagem', ' Comorbidades', 'Internacao', ' Morte',
       'Trabalha em Hospital'],
      dtype='object')

In [29]:
df.drop(['Viagem', ' Comorbidades', 'Internacao'], axis = 1, inplace=True)

In [30]:
df.head()

,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Morte,Trabalha em Hospital
N paciente,,,,,,,,
1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N
2,17-mar,19-mar,45,F,Jardim Brasília,Resende,NaN,N
3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N
4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N
5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,NaN,NaN

In [31]:
df.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24],
           dtype='int64', name='N paciente')

In [32]:
df.drop(1, axis = 0, inplace=True)

In [33]:
df.head()

,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Morte,Trabalha em Hospital
N paciente,,,,,,,,
2,17-mar,19-mar,45,F,Jardim Brasília,Resende,NaN,N
3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N
4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N
5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,NaN,NaN
6,22-mar,26-mar,47,M,Morada da Colina,Resende,NaN,N

In [34]:
col = df.columns

In [35]:
col

Index(['Data de inicio de sintomas', 'Data de confirmacao', ' Idade', ' Sexo',
       ' Bairro', 'Cidade', ' Morte', 'Trabalha em Hospital'],
      dtype='object')

In [36]:
l = ['13-mar', '14-mar', '55', 'M','AMAN', 'Resende', "N", 'N']

In [37]:
len(col)

8

In [38]:
len(l)

8

In [40]:
list(zip(col , l))

[('Data de inicio de sintomas', '13-mar'),
 ('Data de confirmacao', '14-mar'),
 (' Idade', '55'),
 (' Sexo', 'M'),
 (' Bairro', 'AMAN'),
 ('Cidade', 'Resende'),
 (' Morte', 'N'),
 ('Trabalha em Hospital', 'N')]

In [41]:
d = {key:value for key,value in zip(col , l)}

In [42]:
d

{'Data de inicio de sintomas': '13-mar',
 'Data de confirmacao': '14-mar',
 ' Idade': '55',
 ' Sexo': 'M',
 ' Bairro': 'AMAN',
 'Cidade': 'Resende',
 ' Morte': 'N',
 'Trabalha em Hospital': 'N'}

In [43]:
type(df[' Idade'])

pandas.core.series.Series

In [44]:
ser = pd.Series(d)

In [45]:
ser

Data de inicio de sintomas     13-mar
Data de confirmacao            14-mar
 Idade                             55
 Sexo                               M
 Bairro                          AMAN
Cidade                        Resende
 Morte                              N
Trabalha em Hospital                N
dtype: object

In [46]:
df.append(ser, ignore_index=True)

,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Morte,Trabalha em Hospital
0,17-mar,19-mar,45,F,Jardim Brasília,Resende,NaN,N
1,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N
2,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N
3,15-mar,18-mar,38,F,Jardim Jalisco,Resende,NaN,NaN
4,22-mar,26-mar,47,M,Morada da Colina,Resende,NaN,N
5,24-mar,30-mar,39,M,Vila Julieta,Resende,20-abr,N
6,29-mar,30-mar,34,NaN,Santa Barbara,Quatis,NaN,NaN
7,30-mar,30-mar,17,M,Morada do Contorno,Resende,NaN,N
8,30-mar,7-abr,45,F,Centro,Quatis,NaN,N
9,31-mar,NaN,34,M,Liberdade,Resende,NaN,N
10,6-abr,NaN,32,NaN,Vila Odete,Itatiaia,NaN,S
11,4-abr,13-abr,93,M,Vila Isabel,Resende,13-abr,N
12,31-mar,NaN,44,M,Liberdade,Resende,NaN,NaN
13,-,12-abr,36,M,Centro,Quatis,NaN,N
14,10-abr,13-abr,36,M,Morada do Castelo,Resende,NaN,S
15,14-abr,NaN,44,NaN,Jardim Jalisco,Resende,NaN,S
16,15-abr,NaN,46,NaN,Campos Elíseos,Resende,NaN,S
17,11-abr,14-abr,85,M,Liberdade,Resende,NaN,NaN
18,8-abr,NaN,29,F,Novo Surubi,Resende,NaN,S
19,14-abr,14-abr,90,F,Jardim Primavera,Resende,18-abr,NaN
20,14-abr,16-abr,43,F,Jardim Brasília,Resende,NaN,NaN
21,15-abr,16-abr,34,F,Campos Elíseos,Resende,NaN,NaN
22,8-abr,18-abr,30,F,Novo Surubi,Resende,NaN,NaN
23,13-mar,14-mar,55,M,AMAN,Resende,N,N

In [47]:
#df.to_csv('c:\User\blah.csv')

## Datetime object

In [48]:
from datetime import datetime

In [49]:
datetime.now()

datetime.datetime(2020, 6, 19, 15, 6, 53, 377471)

In [50]:
agora = datetime.now()

In [51]:
agora

datetime.datetime(2020, 6, 19, 15, 7, 15, 946050)

In [52]:
agora.day

19

In [53]:
t1 = datetime(1982,4,7)

In [54]:
t1

datetime.datetime(1982, 4, 7, 0, 0)

In [56]:
agora - t1

datetime.timedelta(days=13953, seconds=54435, microseconds=946050)

In [57]:
a = '2012/02/23'

In [58]:
a

'2012/02/23'

In [59]:
type(a)

str

In [60]:
datetime.strptime(a)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [61]:
datetime.strptime(a, "%Y/%m/%d")

datetime.datetime(2012, 2, 23, 0, 0)

In [62]:
b = '23-mar-2012'

In [63]:
datetime.strptime(b , '%d-%b-%Y')

datetime.datetime(2012, 3, 23, 0, 0)

In [64]:
pd.to_datetime('2012/02/23')

Timestamp('2012-02-23 00:00:00')

In [65]:
y = pd.to_datetime('2012/02/23')

In [67]:
y.day_name()

'Thursday'

In [68]:
y.dayofweek

3

In [69]:
y.dayofyear

54

In [71]:
y.isoweekday()

4

## Limpeza de dados

In [72]:
df = pd.read_csv('https://raw.githubusercontent.com/vnikoofard/python_online_2020/master/data/Pacientes_compilados.csv', encoding = 'latin1')

In [73]:
df

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN
5,6,22-mar,26-mar,47,M,Morada da Colina,Resende,N,N,S,NaN,N
6,7,24-mar,30-mar,39,M,Vila Julieta,Resende,N,N,S,20-abr,N
7,8,29-mar,30-mar,34,NaN,Santa Barbara,Quatis,NaN,S,S,NaN,NaN
8,9,30-mar,30-mar,17,M,Morada do Contorno,Resende,N,N,S,NaN,N
9,10,30-mar,7-abr,45,F,Centro,Quatis,N,S,N,NaN,N
10,11,31-mar,NaN,34,M,Liberdade,Resende,N,N,S,NaN,N
11,12,6-abr,NaN,32,NaN,Vila Odete,Itatiaia,N,N,N,NaN,S
12,13,4-abr,13-abr,93,M,Vila Isabel,Resende,N,S,S,13-abr,N
13,14,31-mar,NaN,44,M,Liberdade,Resende,N,NaN,NaN,NaN,NaN
14,15,-,12-abr,36,M,Centro,Quatis,NaN,N,N,NaN,N
15,16,10-abr,13-abr,36,M,Morada do Castelo,Resende,N,N,N,NaN,S
16,17,14-abr,NaN,44,NaN,Jardim Jalisco,Resende,NaN,NaN,NaN,NaN,S
17,18,15-abr,NaN,46,NaN,Campos Elíseos,Resende,NaN,NaN,NaN,NaN,S
18,19,11-abr,14-abr,85,M,Liberdade,Resende,N,N,S,NaN,NaN
19,20,8-abr,NaN,29,F,Novo Surubi,Resende,N,N,N,NaN,S
20,21,14-abr,14-abr,90,F,Jardim Primavera,Resende,N,S,S,18-abr,NaN
21,22,14-abr,16-abr,43,F,Jardim Brasília,Resende,N,NaN,NaN,NaN,NaN
22,23,15-abr,16-abr,34,F,Campos Elíseos,Resende,N,NaN,NaN,NaN,NaN
23,24,8-abr,18-abr,30,F,Novo Surubi,Resende,N,NaN,NaN,NaN,NaN

In [75]:
'hoje está fazendo calor'.split(' ')

['hoje', 'está', 'fazendo', 'calor']

In [76]:
'13-abr'.split('-')

['13', 'abr']

In [77]:
'13-abr'.split('-')[1]

'abr'

In [78]:
'13-abr'.split('-')[1] == 'abr'

True

In [80]:
def fix(x):
    if x.split('-')[1] == 'abr':
        x = x.split('-')[0] + '-apr'
    x = x + '-2020'
    return pd.to_datetime(x)

In [81]:
fix('13-abr')

Timestamp('2020-04-13 00:00:00')

In [82]:
'13' + '-apr'

'13-apr'

In [83]:
df.columns

Index(['N paciente', 'Data de inicio de sintomas', 'Data de confirmacao',
       ' Idade', ' Sexo', ' Bairro', 'Cidade', 'Viagem', ' Comorbidades',
       'Internacao', ' Morte', 'Trabalha em Hospital'],
      dtype='object')

In [84]:
df['Data de inicio de sintomas'].apply(fix)

0    2020-03-13
1    2020-03-17
2    2020-03-18
3    2020-03-20
4    2020-03-15
5    2020-03-22
6    2020-03-24
7    2020-03-29
8    2020-03-30
9    2020-03-30
10   2020-03-31
11   2020-04-06
12   2020-04-04
13   2020-03-31
14   2020-01-01
15   2020-04-10
16   2020-04-14
17   2020-04-15
18   2020-04-11
19   2020-04-08
20   2020-04-14
21   2020-04-14
22   2020-04-15
23   2020-04-08
Name: Data de inicio de sintomas, dtype: datetime64[ns]

In [85]:
df.head()

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,13-mar,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,17-mar,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,18-mar,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,20-mar,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,15-mar,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN

In [86]:
df['Data de inicio de sintomas'] = df['Data de inicio de sintomas'].apply(fix)

In [87]:
df.head()

,N paciente,Data de inicio de sintomas,Data de confirmacao,Idade,Sexo,Bairro,Cidade,Viagem,Comorbidades,Internacao,Morte,Trabalha em Hospital
0,1,2020-03-13,NaN,33,NaN,Ipanema,RJ,NaN,N,S,NaN,N
1,2,2020-03-17,19-mar,45,F,Jardim Brasília,Resende,N,N,N,NaN,N
2,3,2020-03-18,NaN,38,F,Jardim Jalisco,Resende,NaN,N,N,NaN,N
3,4,2020-03-20,NaN,57,M,Retiro da Matiqueira,Cruzeiro,NaN,N,S,NaN,N
4,5,2020-03-15,18-mar,38,F,Jardim Jalisco,Resende,N,NaN,NaN,NaN,NaN